#!bin/env bash
alias afs='apt-fzf-search'
alias crsr="echo -ne '\e[6 q'"
alias dateformatcodes='date --help | sed -n '\''/^FORMAT/,//p'\'
alias dfc='date --help | sed -n '\''/^FORMAT/,//p'\'
alias null='>/dev/null 2>&1 &'
alias opn='${EDITOR} /data/data/com.termux/files/home/openssh/open'
alias psf='ps -f'
alias psg='ps -e | grep '
alias pp='python -mjson.tool | pygmentize -l js'
alias reset-colors='tput init'
alias sb='source ~/.bashrc'
alias sortnr='sort -n -r'
alias sz='source ${ZDOTDIR:-${HOME}}/.zshrc'
alias s='source'
alias music='cd /storage/40E6-DFFD/Music/'

# easier to read disk
alias df='df -h'     # human-readable sizes
alias free='free -m' # show sizes in MB

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3 | head -5'

# gpg encryption
# verify signature for isos
alias gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"

# receive the key of a developer
alias gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"

# apt
alias \
    apti='apt install' \
    aptp='apt purge' \
    aptr='apt remove' \
    aptri='apt reinstall' \
    aptu='apt update -yy && apt full-upgrade -qq'

# commands
alias \
    apt='noglob apt' \
    HMBs='du -h --max-depth=1 --one-file-system ~' \
    MBs='du -h --max-depth=1 --one-file-system $PREFIX' \
    chmod='chmod -v' \
    chown='chown -v' \
    cp='nocorrect cp -i -v' \
    dir='nocorrect dir --color=auto' \
    diff='diff --color=auto' \
    dud='du --all -d 1 -h' \
    duf='du -sh *' \
    egrep='egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.cfg.git,.cache}' \
    fgrep='fgrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.cfg.git,.cache}' \
    hgrep='fc -El 0 | grep' \
    man='nocorrect man' \
    md='nocorrect mkdir -pv' \
    mkd='nocorrect mkdir -pv' \
    mkdir='nocorrect mkdir -pv' \
    mv='nocorrect mv -i -v' \
    ncdu='ncdu -e --color=dark' \
    pkg='noglob pkg' \
    py='python' \
    rm='nocorrect rm -I -v' \
    sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS,.cfg.git,.cache} ' \
    shad="ssh-add ~/.ssh/id_rsa" \
    shag='eval "$(ssh-agent -s)"' \
    wget='wget -r -e --robots=off -nc -np' \
    grep='grep --color=auto' \
    ffmpeg='ffmpeg -hide_banner'

# special commands
alias \
    bfarben=spectrum_bls \
    bfrbn=spectrum_bls \
    farben=spectrum_ls \
    frbn=spectrum_ls \
    coc='cd ~/.config && ./colors.sh' \
    cof='cd ~/.config && ./fonts.sh' \
    clean='( for ((i=1;i<$LINES;i++)) ; do echo "" ; done ) ; clear' \
    fsh='fast-theme' \
    lazymux='cd ~/gitrepos/Lazymux && python lazymux.py' \
    lch=launch \
    lmux='cd ~/gitrepos/Lazymux && python lazymux.py' \
    myip='curl http://ipecho.net/plain; echo' \
    mymap='telnet mapscii.me' \
    ox='onex start' \
    starwars='telnet towel.blinkenlights.nl' \
    tbu='terbr -b' \
    tls='cd ~/gitrepos/Termux-Lazyscript && python2 ls.py' \
    wtr='curl wttr.in/Berlin'
    # pip='$PREFIX/bin/python3 -m pip' \
    # pip2='$PREFIX/bin/python2 -m pip'

# directories
alias \
    back='$PREFIX' \
    bbin='$PREFIX/bin' \
    betc='$PREFIX/etc' \
    bncld='$PREFIX/include' \
    blib='$PREFIX/lib' \
    blbxc='$PREFIX/libexec' \
    bshr='$PREFIX/share' \
    btmp='$PREFIX/tmp' \
    bvar='$PREFIX/var' \
    storage='/storage/40E6-DFFD' \
    strg='cd /storage/40E6-DFFD' \
    sdcard=/sdcard \
    sdcrd='cd /storage/emulated/0'

# find & fzf
alias \
    fv='nvim "$(fd -H -i -L --type f | fzf +m --keep-right)"' \
    count='find . -type f | wc -l' \
    fzcd='\cd "$(find -L -type d | fzf)"' \
    fdh='fd -H -I -i --color always' \
    ff='find . -type f -name' \
    iaf=interactive_fzf


# ls & exa
alias \
    exa='exa --colour-scale --color=always --icons'\
    l='exa -b@ --icons --git' \
    lS='exa -1 --icons' \
    la='exa -bhHimuSaa --git --icons' \
    lart='\ls -1Fcart' \
    ldot='ls --colour-scale -ld .*' \
    llg='ll --colour-scale --git' \
    ll='exa -ahlFbG@ --colour-scale --icons' \
    l.='exa -d .*' \
    ll.='exa -Fhl -d .*' \
    lld='\ls -D */' \
    lll='exa -ahlT --colour-scale --icons -L 3 -R' \
    llm='exa -lbGF@ --git --sort=modified --colour-scale --icons' \
    llt='du -sh * | sort -h' \
    lr='\ls -tRFh' \
    lrt='\ls -1Fcrt' \
    ls='exa -a --colour-scale --icons --git' \
    lsa='exa -alFh@T --level=3 --colour-scale --icons | more -f' \
    lt='exa -alhFt@ --time=changed --colour-scale --icons' \
    lx='exa -lbhHimuSa@ --time-style=long-iso --git --color-scale'

# Editors
alias \
    e.a='${EDITOR} ${HOME}/.aliases' \
    e.b='${EDITOR} $HOME/.bashrc' \
    eb='${EDITOR} $PREFIX/etc/bash.bashrc' \
    ep='${EDITOR} $PREFIX/etc/profile' \
    ez='${EDITOR} $PREFIX/etc/zshrc' \
    eli='${EDITOR} $PREFIX/bin/login' \
    eo='${EDITOR} ~/openssh/open' \
    m=micro \
    m.a='micro $HOME/.aliases' \
    m.m='m ~/.zsh/oh-my-zsh.sh' \
    mp='micro $PREFIX/etc/profile' \
    m.z='micro ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc' \
    mli='micro $PREFIX/bin/login' \
    mz='micro $PREFIX/etc/zshrc' \
    n='nano -mce%' \
    n.a='nano -mce% $HOME/.aliases' \
    n.b='nano -mce% $HOME/.bashrc' \
    n.z='nano -mce% ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc' \
    nb='nano -mce $PREFIX/etc/bash.bashrc' \
    np='nano -mce% $PREFIX/etc/profile' \
    nz='nano -mlce% $PREFIX/etc/zshrc' \
    vim=nvim \
    v=nvim \
    vimdiff="nvim -d" \
    init='${EDITOR} $HOME/.config/nvim/init.vim' \
    zshrc='${EDITOR} ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc'

# Plugins
alias \
    forgit="source <(curl -sSL git.io/forgit)" \
    fsh='fast-theme' \
    zsnapshot='source ~/.zsh/custom/plugins/zsnapshot/zsnapshot.plugin.zsh' \
    loadls='source "/data/data/com.termux/files/home/.local/share/lscolors.sh"' \
    aliase='source ~/.zsh/plugins/aliases/aliases.plugin.zsh' \
    edit='source ~/gitrepos/zsh-edit/zsh-edit.plugin.zsh' \
    npm-complete='s ~/.zsh/custom/plugins/zsh-better-npm-completion/zsh-better-npm-completion.plugin.zsh'

# zlua
alias \
    zz="z -i" \
    zc='z -c' \
    zf='z -I' \
    zb='z -b' \
    zbf='z -b -I' \
    zbi='z -b -i' \
    zh='z -I -t .' \
    zzc='zz -c'

# Termux
alias \
    bttry=termux-battery-status \
    cpy=termux-clipboard-set \
    tcs=termux-clipboard-set \
    foto=termux-camera-photo \
    open='termux-open --chooser "$@"' \
    pst=termux-clipboard-get \
    tcg=termux-clipboard-get \
    tb='termux-brightness' \
    tn=termux-notification \
    tbs=termux-battery-status \
    tcp=termux-camera-photo \
    tcr=termux-change-repo \
    tfs=termux-fix-shebang \
    tfo=termux-file-opener \
    tnr=termux-notification-remove \
    to='termux-open --chooser "$@"' \
    trs=termux-reload-settings \
    tuo=termux-url-opener \
    twe=termux-wifi-enable


# git
alias \
    dot='$PREFIX/bin/git --git-dir=$HOME/.cfg.git/ --work-tree=$HOME' \
    dota='dot add' \
    dotaa='dot add --all' \
    dotb='dot branch -a' \
    dotch='dot checkout' \
    dotc='dot commit' \
    dotca='dot commit -a' \
    dotcm='dot commit -m' \
    dotd='dot diff' \
    dotps='dot push' \
    dotpl='dot pull' \
    dotl='dot log' \
    dots='dot status' \
    dotr='dot remote -v' \
    dotrm='dot rm' \
    dotrmc='dot rm --cached' \
    dotrs='dot restore --staged' \
    dotmv='dot mv' \
    cfg=dotbare
    # dot=dotbare

alias \
    gad='git add' \
    gaa='git add --all' \
    gb='git branch -a' \
    gcm='git commit -m' \
    gca='git commit -a' \
    gdf='git diff' \
    gds="git diff --staged" \
    gc='git clone' \
    gf='git fetch' \
    g='\git' \
    git='git' \
    check='git checkout' \
    pull='git pull origin' \
    push='git push origin' \
    gs='git status' \
    gss='git status -sb' \
    gps='git push' \
    gpl='git pull' \
    gl='git log' \
    gs='git status' \
    gr='git remote -v' \
    grm='git rm' \
    grmc='git rm --cached' \
    grs="git restore --staged" \
    gmv='git mv' \
    gst='git stash'
