#!bin/env bash
export GREP_COLORS="mt=01;31;103"

alias crsr="echo -ne '\e[6 q'"
alias cursor='tput cnorm'
alias dateformatcodes='date --help | sed -n '\''/^FORMAT/,//p'\'
alias dfc='date --help | sed -n '\''/^FORMAT/,//p'\'
alias null='>/dev/null 2>&1 &'
alias psf='ps -f'
alias psg='ps -e | grep '
alias pp='python -mjson.tool | pygmentize -l js'
alias reset-colors='tput init'
alias sb='source ~/.bashrc'
alias sortnr='sort -n -r'
alias sz='source ${ZDOTDIR:-${HOME}}/.zshrc'
alias music='/storage/40E6-DFFD/Music/'

# easier to read disk
alias df='df -h'     # human-readable sizes
alias free='free -m' # show sizes in MB

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3 | head -5'

# zsh_history git bare repo
alias cfghist='$PREFIX/bin/git --git-dir=$HOME/.cache/zsh/history --work-tree=$HOME/.cache/zsh'

# gpg encryption
# verify signature for isos
alias gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"

# receive the key of a developer
alias gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"

# apt
alias \
    apt='noglob apt' \
    apti='apt install' \
    aptp='apt purge' \
    aptrm='apt remove' \
    aptar='apt autoremove' \
    aptri='apt reinstall' \
    aptu='apt update -yy && apt full-upgrade -qq' \
    pkgri='pkg reinstall'

# commands
alias \
    HMBs="du -h --max-depth=1 --one-file-system ~ | sort -hr | sed 's+\/data\/data\/com.termux\/files\/home\/++g'" \
    MBs="du -h --max-depth=1 --one-file-system $PREFIX | sort -hr | sed 's+\/data\/data\/com.termux\/files\/usr\/++g'" \
    ag='ag "--color-match=01;31;103"' \
    chmod='chmod -v' \
    chown='chown -v' \
    cp='nocorrect cp -i -v' \
    dir='nocorrect dir --color=auto' \
    diff='diff --color=auto' \
    dud='du --all -d 1 -h' \
    duf='du -sh *' \
    egrep='egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.cfg.git,.cache}' \
    fgrep='fgrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox,.cfg.git,.cache}' \
    grep='grep --color=auto' \
    hgrep='fc -El 0 | rg' \
    h='history' \
    man='nocorrect man' \
    md='nocorrect mkdir -pv' \
    mkd='nocorrect mkdir -pv' \
    mkdir='nocorrect mkdir -pv' \
    mv='nocorrect mv -i -v' \
    ncdu='ncdu -e --color=dark' \
    pkg='noglob pkg' \
    py='python' \
    rm='nocorrect rm -I -v' \
    s='source' \
    sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS,.cfg.git,.cache} ' \
    shad="ssh-add ~/.ssh/id_rsa" \
    shag='eval "$(ssh-agent -s)"' \
    tma='tmux attach' \
    tmn='tmux new -s' \
    tmd='tmux attach -d -t' \
    tml='tmux list-sessions' \
    tksv='tmux kill-server' \
    tmks='tmux kill-session -t' \
    ttyc='tty-clock -crC 3' \
    clock='tty-clock -crC 3' \
    uhr='tty-clock -crC 3' \
    rg="rg --colors 'match:bg:11' --ignore-case --pretty" \
    ffmpeg='ffmpeg -hide_banner' \
    wget='wget -r -e --robots=off -nc -np'

# special commands
alias \
    bfarben='spectrum_bls' \
    bfrbn='spectrum_bls' \
    farben='spectrum_ls' \
    frbn='spectrum_ls' \
    coc='cd ~/.config && ./colors.sh' \
    cof='cd ~/.config && ./fonts.sh' \
    clean='( for ((i=1;i<$LINES;i++)) ; do echo "" ; done ) ; clear' \
    fsh='fast-theme' \
    lazymux='cd ~/repos/Lazymux && python lazymux.py' \
    lch='launch' \
    lmux='cd ~/repos/Lazymux && python lazymux.py' \
    myip='curl http://ipecho.net/plain; echo' \
    mymap='telnet mapscii.me' \
    ox='onex start' \
    tbu='terbr -b' \
    tls='cd ~/repos/Termux-Lazyscript && python2 ls.py' \
    wtr='curl wttr.in/Berlin' \
    weather='curl wttr.in/Berlin'

# directories
alias \
    back='$PREFIX' \
    bbin='$PREFIX/bin' \
    betc='$PREFIX/etc' \
    bncld='$PREFIX/include' \
    blib='$PREFIX/lib' \
    blbxc='$PREFIX/libexec' \
    bshr='$PREFIX/share' \
    btmp='$PREFIX/tmp' \
    bvar='$PREFIX/var' \
    storage='/storage/40E6-DFFD' \
    strg='cd /storage/40E6-DFFD' \
    sdcard='/sdcard' \
    sdcrd='cd /storage/emulated/0'

# find & fzf
alias \
    count='find . -type f | wc -l' \
    fdh='fd -H -I -i --color always' \
    ff='find . -type f -name' \
    fgb='fzf-git-branch' \
    fgc='fzf-git-checkout' \
    fv='nvim "$(fd -H -i --type f | fzf --keep-right)"' \
    fzcd='\cd "$(find -L -type d | fzf)"' \
    iaf='interactive_fzf'

# ls & exa
alias \
    exa='exa --no-user --color=always --icons'\
    l='exa --icons --git' \
    lS='exa -1 --icons' \
    la='exa -bhHimuSaa --git --icons' \
    lart='\ls -1Fcart' \
    ldot='ls --colour-scale -ld .*' \
    llg='ll --colour-scale --git' \
    ll='exa -ahlFbG@ --colour-scale --icons' \
    l.='exa -d .*' \
    ll.='exa -Fhl -d .*' \
    lld='\ls -D */' \
    lll='exa -ahlRT --git --colour-scale --icons -L 3' \
    llm='exa -lbGF@ --sort=modified --git --colour-scale --icons' \
    llt='du -sh * | sort -hr' \
    lr='\ls -tRFh' \
    lrt='\ls -1Fcrt' \
    ls='exa -a --colour-scale --icons --git' \
    lsa='exa -alFhR --icons | less' \
    lt='exa -alhFt@ --time=changed --git --colour-scale --icons' \
    lx='exa -lbhHimuSa@ --time-style=long-iso --git --color-scale'

# Editors
alias \
    e.a='vim ${HOME}/.aliases' \
    e.b='vim $HOME/.bashrc' \
    eb='${EDITOR} $PREFIX/etc/bash.bashrc' \
    ep='${EDITOR} $PREFIX/etc/profile' \
    ez='${EDITOR} $PREFIX/etc/zshrc' \
    eli='${EDITOR} $PREFIX/bin/login' \
    eo='${EDITOR} ~/openssh/open' \
    m='micro' \
    m.a='micro $HOME/.aliases' \
    m.m='m ~/.zsh/oh-my-zsh.sh' \
    mp='micro $PREFIX/etc/profile' \
    m.z='micro ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc' \
    mli='micro $PREFIX/bin/login' \
    mz='micro $PREFIX/etc/zshrc' \
    n='nano' \
    n.a='nano -% $HOME/.aliases' \
    n.b='nano -% $HOME/.bashrc' \
    n.z='nano -% ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc'\
    nb='nano -% $PREFIX/etc/bash.bashrc' \
    np='nano -% $PREFIX/etc/profile' \
    nz='nano -% $PREFIX/etc/zshrc' \
    opn='${EDITOR} $HOME/openssh/open' \
    vim="GIT_DIR=$HOME/.cfg.git GIT_WORK_TREE=$HOME nvim" \
    v="nvim" \
    vimdiff='nvim -d' \
    init='vim $HOME/.config/nvim/init.vim' \
    zp='vim ${ZDOTDIR:-$HOME/.config/zsh}/.zprofile' \
    zshrc='vim ${ZDOTDIR:-$HOME/.config/zsh}/.zshrc'
    # nvim="GIT_DIR=$HOME/.cfg.git GIT_WORK_TREE=$HOME nvim" \

# Plugins
alias \
    forgit="source <(curl -sSL git.io/forgit)" \
    fsh='fast-theme' \
    zsnap='source $ZDOTDIR/plugins/zsnapshot/zsnapshot.plugin.zsh' \
    aliase='source ~/.zsh/plugins/aliases/aliases.plugin.zsh' \
    zsh_edit='source ~/repos/zsh-edit/zsh-edit.plugin.zsh' \
    npm_complete='s $ZDOTDIR/plugins/zsh-better-npm-completion/zsh-better-npm-completion.plugin.zsh'

# zlua
alias \
    zz='z -i' \
    zc='z -c' \
    zf='z -I' \
    zb='z -b' \
    zbf='z -b -I' \
    zbi='z -b -i' \
    zh='z -I -t .' \
    zzc='zz -c'

# open='termux-open --chooser "$@"' \
# Termux
alias \
    battry='termux-battery-status' \
    cpy='termux-clipboard-set' \
    copy='termux-clipboard-set' \
    tcs='termux-clipboard-set' \
    foto='termux-camera-photo' \
    pst='termux-clipboard-get' \
    tcg='termux-clipboard-get' \
    tb='termux-brightness' \
    tn='termux-notification' \
    tbs='termux-battery-status' \
    tcp='termux-camera-photo' \
    tcr='termux-change-repo' \
    tfs='termux-fix-shebang' \
    tfo='termux-file-opener' \
    tmr='termux-microphone-record' \
    tnr='termux-notification-remove' \
    to='termux-open --chooser "$@"' \
    trs='termux-reload-settings' \
    tsg='termux-storage-get' \
    tto='termux-torch on' \
    ttf='termux-torch off' \
    tts='termux-tts-speak' \
    tuo='termux-url-opener' \
    tv='termux-volume' \
    twe='termux-wifi-enable' \
    twl='termux-wake-lock' \
    twu='termux-wake-unlock'

# dotbare
alias \
    dot="$PREFIX/bin/git --git-dir=$HOME/.cfg.git/ --work-tree=$HOME" \
    dota='dot add' \
    dotu='dot add -u' \
    dotb='dot branch -a' \
    dotch='dot checkout' \
    dotc='dot commit' \
    dotca='dot commit -a' \
    dotcm='dot commit -m' \
    dotd='dot diff' \
    dotfe='dot fetch' \
    dotl='dot log' \
    dotps='dot push' \
    dotpl='dot pull' \
    dots='dot status' \
    dotre='dot remote -v' \
    dotrc='dot rm --cached' \
    dotr='dot restore' \
    dotrs='dot restore --staged' \
    dotmv='dot mv' \
    cfg='dotbare'
    # dot=dotbare

# git
alias \
    gad='git add' \
    gaa='git add --all' \
    gau='git add -u' \
    gb='git branch -a' \
    gcm='git commit -m' \
    gca='git commit -a' \
    gdf='git diff' \
    gds="git diff --staged" \
    gc='git clone' \
    gf='git fetch' \
    g='\git' \
    git='git' \
    check='git checkout' \
    pull='git pull origin' \
    push='git push origin' \
    gs='git status' \
    gss='git status -sb' \
    gps='git push' \
    gpl='git pull' \
    gl='git log' \
    gs='git status' \
    gr='git remote -v' \
    grm='git rm' \
    grmc='git rm --cached' \
    grs="git restore --staged" \
    gmv='git mv' \
    gst='git stash'

# falias () {
#     local out
#     out=$(alias | fzf)
#     echo -n "$(echo -n "${out}" | cut -d= -f2 | sed "s/\'//g" | termux-clipboard-set)" }
